.paytpv_jet h4 {
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: 0px;
}

 .paytpv_jet ol, .paytpv_jet ul {
    list-style: none;
}

 .paytpv_jet .vertical{
    overflow: hidden;
}

.paytpv_jet .vertical li {
    float: left;
    width: 140px;
}

.paytpv_jet .vertical input {
    width: 79px;
}

.paytpv_jet label {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.paytpv_jet .carbon-img img, form input, form label, form li .help {
    display: block;
}

.paytpv_jet{
	max-width: 360px;
}

.paytpv_jet [id='MERCHANT_PAN'] {
    background-image: url(cards.png), url(cards.png);
    background-position: 2px -103px,260px -50px;
    background-size: 120px 361px,120px 361px;
    background-repeat: no-repeat;
    padding-left: 54px;
    width: 290px;
}

.paytpv_jet [id='cardHolderName'] {
    width: 290px;
}

.paytpv_jet [id='MERCHANT_PAN'].visa {background-position: 2px -139px,260px -50px;}
.paytpv_jet [id='MERCHANT_PAN'].visa_electron{background-position:2px -176px,260px -50px}
.paytpv_jet [id='MERCHANT_PAN'].mastercard{background-position:2px -212px,260px -50px}
.paytpv_jet [id='MERCHANT_PAN'].maestro{background-position:2px -249px,260px -50px}
.paytpv_jet [id='MERCHANT_PAN'].discover{background-position:2px -285px,260px -50px}
.paytpv_jet [id='MERCHANT_PAN'].amex{background-position:2px -322px,260px -50px}

.paytpv_jet [id='MERCHANT_PAN'].valid.visa{background-position:2px -139px,260px -73px}
.paytpv_jet [id='MERCHANT_PAN'].valid.visa_electron{background-position:2px -176px,260px -73px}
.paytpv_jet [id='MERCHANT_PAN'].valid.mastercard{background-position:2px -212px,260px -73px}
.paytpv_jet [id='MERCHANT_PAN'].valid.maestro{background-position:2px -249px,260px -73px}
.paytpv_jet [id='MERCHANT_PAN'].valid.discover{background-position:2px -285px,260px -73px}
.paytpv_jet [id='MERCHANT_PAN'].valid.amex{background-position:2px -322px,260px -73px}

.paytpv_jet li .help {
    color: #aaa;
    clear: both;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 14px;
}

.paytpv_jet>ul>li {
    padding: 10px 0;
}


.paytpv_jet input{border:1px solid #e5e5e5;color:#333;font-size:18px;height:34px;padding:0 5px;width:100%;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:border-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px